.workers {
    display: flex;
    margin: 0px 0px 150px 0px;
    .comment {
        padding: 40px;
        background-color: #fff;
        margin: 0px 40px 0px 0px;
        width: 50%;
    }
    .comment:last-child {
        margin: 0px;
    }
    p {
        font-size: 16px;
        line-height: 1.9;
    }
}
.person {
    display: flex;
    justify-content: space-between;
    .quote-mark {
        align-self: flex-start;
    }
    .photo {
        width: 100px;
        margin: 0px 20px 0px 0px;
    }
    .name {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.7;
    }
    .position {
        color: #1967fa;
        line-height: 2.1;
        font-size: 14px;
        font-weight: 600;
    }
}
.info {
    display: flex;
    align-items: center;
    margin: 0px 0px 40px 0px
}

@media only screen and (max-width: 1025px) {
    .workers {
        display: block;
        .comment {
            width: 100%;
        }
    }
    
  }