*{
    margin: 0;
}

.movie_card {
    padding: 20px;
    width: 300px;
    height: 500px;
}
.movie_info {
    display: flex;
    justify-content: space-between;
}
.movie_card_img{
    margin-bottom: 15px;
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.movie_title {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.movie_date {
    border: 1px solid black;
    padding: 0px 4px;
    height: 22px;
    
}
.movie_genre {
    color:#C8C7C7;
    display: flex;
    flex-wrap: wrap;
    
}
.genre_item{
    margin-right: 7px;
}
