.load {
   display: flex;
   justify-content: center;
   align-items: center;
}

.load_more{
    background-color:#FE390C;
    border: none;
    outline: none;
    padding: 20px 50px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
}