* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: 'Mulish', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: 'Mulish', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  max-width: 1120px;
  margin: 0px auto;
}

.back {
  width: 100%;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 1025px) {
  .wrapper {
    width: 1025px;
  }
  .back {
    display: none;
  }
  body {
    padding: 0px 30px;
  }
}

header {
  max-width: 1440px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 0px 20px;
  margin-bottom: 150px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 50px;
  margin: 0px 20px 0px 0px;
}

.logo h1 {
  margin: 0px 70px 0px 0px;
  color: #1968fc;
  font-size: 20px;
  font-weight: 600;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  margin: 0px 50px 0px 0px;
  color: #000000;
  font-weight: 600;
}

button {
  font-weight: 600;
  background-color: #1968fc;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1025px) {
  nav {
    display: none;
  }
}

.launch-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  max-height: 500px;
}

.launch-website .text {
  max-width: 600px;
  height: 500px;
}

.launch-website .launch-title {
  font-size: 40px;
  color: #11223f;
  line-height: 1.5;
  margin: 0px 0px 20px 0px;
  font-weight: 600;
}

.launch-website p {
  line-height: 2;
  color: #11223f;
  margin: 0px 0px 40px 0px;
  font-size: 20px;
}

.launch-website button {
  padding: 15px 50px;
}

.launch-img {
  position: relative;
}

.launch-img img {
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: -70px;
}

@media only screen and (max-width: 1025px) {
  .launch-website {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 250px;
  }
  .launch-website .launch-img {
    position: static;
  }
  .launch-website .launch-img img {
    max-width: 550px;
    position: static;
  }
  .launch-website .text {
    margin: 50px;
  }
}

.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 150px 0px;
}

.workers .comment {
  padding: 40px;
  background-color: #fff;
  margin: 0px 40px 0px 0px;
  width: 50%;
}

.workers .comment:last-child {
  margin: 0px;
}

.workers p {
  font-size: 16px;
  line-height: 1.9;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.person .quote-mark {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.person .photo {
  width: 100px;
  margin: 0px 20px 0px 0px;
}

.person .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
}

.person .position {
  color: #1967fa;
  line-height: 2.1;
  font-size: 14px;
  font-weight: 600;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

@media only screen and (max-width: 1025px) {
  .workers {
    display: block;
  }
  .workers .comment {
    width: 100%;
  }
}

.title {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 2;
  color: #11223f;
  margin: 0px 0px 60px 0px;
}

.title:after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 80px;
  background-color: #1968fc;
  height: 3px;
  position: relative;
  right: 40px;
}

.features {
  margin-bottom: 120px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-block {
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 75px 0px 0px;
}

.feature-block .feature-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f7ff;
}

.feature-block .feature-name img {
  padding: 40px;
  margin: 0px 20px 0px 0px;
  background-color: #1968fc;
}

.feature-block .feature-name h1 {
  font-size: 20px;
  color: #11223f;
  line-height: 1.5;
  font-weight: 600;
}

.feature-block p {
  padding: 40px;
  font-size: 16px;
  line-height: 1.9;
  color: #11223f;
}

.features-blocks:last-child {
  margin: 0px;
}

.block1 {
  margin-bottom: 80px;
}

.block2 {
  margin-bottom: 40px;
  position: relative;
  top: 40px;
}

.block3 {
  position: relative;
  top: 80px;
}

@media only screen and (max-width: 1025px) {
  .title:after {
    content: "";
    right: 0px;
  }
  .features-blocks {
    display: block;
  }
}

.forwho-blockes {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.forwho-blockes .forwho-block {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  background-color: #fff;
}

.forwho-blockes .forwho-block:last-child {
  margin-right: 0px;
}

.forwho-blockes .name {
  text-transform: uppercase;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: #1968fc;
}

.forwho-blockes .descripthion {
  padding: 20px;
  font-size: 16px;
  line-height: 1.9;
  color: #11223f;
}

@media only screen and (max-width: 1025px) {
  .forwho-blockes .forwho-block {
    width: 40%;
  }
}

.whatcando-blockes {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whatcando-blockes .whatcando-block {
  background-color: #fff;
  margin: 0px 40px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
}

.whatcando-blockes .whatcando-block img {
  padding: 20px;
  margin: 0px 20px 0px 0px;
  background-color: #1968fc;
}

.whatcando-blockes .whatcando-block p {
  font-size: 18px;
  line-height: 2.22;
  font-weight: 600;
}

@media only screen and (max-width: 1025px) {
  .whatcando-blockes .whatcando-block {
    width: 100%;
  }
}

.howtowork {
  background-color: #1968fc;
  position: relative;
}

.title-blue {
  color: #fff;
  margin-bottom: 60px;
}

.title-blue:after {
  content: "";
  background-color: #fff;
}

.text-column {
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px;
}

.text-column p {
  margin-bottom: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 2;
}

.blue-button {
  color: #1968fc;
  background-color: #fff;
  padding: 15px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blue-row {
  position: relative;
}

.blue-block-img {
  position: absolute;
  top: 20px;
  right: 0;
}

@media only screen and (max-width: 1025px) {
  .text-column {
    padding: 40px;
  }
  .blue-block-img {
    display: none;
  }
}

.map-title {
  padding-top: 100px;
}

.map {
  position: relative;
}

.img-map {
  overflow: hidden;
  max-width: 680px;
  height: 660px;
  position: absolute;
  top: 0;
  right: 0;
}

.map-form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-form .label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.map-form .input[type=text], .map-form select, .map-form textarea {
  display: block;
  width: 100%;
  padding: 30px;
}

.map-form .field {
  border: blue;
}

.textarea {
  height: 50px;
}

.map-label {
  color: #141720;
  font-size: 16px;
  line-height: 1.6;
}

.map-input {
  border-bottom: 2px solid #1968fc;
  width: 500px;
  margin-bottom: 20px;
}

.map-input:last-child {
  margin-bottom: 40px;
}

.map-button {
  padding: 15px 110px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 1025px) {
  .map-form {
    max-width: 100%;
    margin: 0px 0px 50px 0px;
  }
  .img-map {
    position: relative;
  }
  .map-input {
    width: 100%;
  }
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dude {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(142, 142, 194, 0.26);
}

.adv img {
  width: 50px;
}

.adv .text {
  padding: 0px 20px;
  line-height: 1.4;
  font-weight: 600;
  color: #1968fc;
}

.socmedia {
  width: 30px;
  margin-right: 20px;
}
