* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: 'Mulish', sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: 'Mulish', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-image: url("../img/pics/background-decor.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}

.wrapper {
  max-width: 1120px;
  margin: 0px auto;
}

@media (max-width: 1120px) {
  .wrapper {
    padding: 50px;
    padding-bottom: 0px;
  }
}

.back {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.header {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

@media (max-width: 1024px) {
  .header {
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 50px;
  margin: 0px 20px 0px 0px;
}

.logo h3 {
  margin: 0px 70px 0px 0px;
  color: #1968fc;
  font-size: 20px;
  font-weight: 600;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  margin: 0px 50px 0px 0px;
  color: #000000;
  font-weight: 600;
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}

button {
  font-weight: 600;
  background-color: #1968fc;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
}

.launch-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  padding-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

.launch-website .promo-text {
  max-width: 600px;
}

.launch-website .launch-title {
  font-size: 40px;
  color: #11223f;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0px;
  font-weight: 600;
}

.launch-website p {
  line-height: 2;
  color: #11223f;
  margin: 0px 0px 40px 0px;
  font-size: 20px;
}

.launch-website button {
  padding: 15px 50px;
}

@media (max-width: 1024px) {
  .launch-website {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px;
    padding-top: 150px;
    padding-bottom: 0px;
  }
}

.launch-img {
  position: absolute;
  width: 50%;
  top: 210px;
  left: 560px;
}

.launch-img img {
  width: 100%;
}

@media (max-width: 1024px) {
  .launch-img {
    display: none;
    position: static;
    width: 100%;
    padding: 0px;
  }
}

.launch-img-mob {
  display: none;
  width: 100%;
  padding: 0px 20px;
}

@media (max-width: 1024px) {
  .launch-img-mob {
    display: block;
  }
}

.mob-block {
  display: none;
  height: 180px;
  width: 100%;
  padding: 30px 60px;
  background-color: #1968fc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mob-block p {
  width: 520px;
  text-align: center;
  font-weight: bold;
  line-height: 2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .mob-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.workers .comment {
  padding: 40px;
  background-color: #fff;
  margin-right: 40px;
  width: 50%;
  -webkit-box-shadow: 0 20px 60px 0 rgba(25, 104, 252, 0.1);
          box-shadow: 0 20px 60px 0 rgba(25, 104, 252, 0.1);
}

.workers .comment:last-child {
  margin: 0px;
}

.workers p {
  font-size: 16px;
  line-height: 1.9;
}

@media (max-width: 1024px) {
  .workers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 120px;
  }
  .workers .comment {
    width: 100%;
    margin: 0px;
  }
  .workers .comment:nth-child(1) {
    margin-bottom: 50px;
  }
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.person .quote-mark {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.person .photo {
  width: 100px;
  margin: 0px 20px 0px 0px;
}

.person .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
}

.person .position {
  color: #1967fa;
  line-height: 2.1;
  font-size: 14px;
  font-weight: 600;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 40px 0px;
}

.title {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 2;
  color: #11223f;
  margin: 0px 0px 60px 0px;
}

.title:after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 80px;
  background-color: #1968fc;
  height: 3px;
  position: relative;
  right: 40px;
}

@media (max-width: 1120px) {
  .title:after {
    content: "";
    margin-top: 10px;
    display: block;
    width: 80px;
    background-color: #1968fc;
    height: 3px;
    position: relative;
    right: 0px;
  }
}

.features {
  margin-bottom: 120px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

@media (max-width: 1024px) {
  .features-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 120px;
  }
}

.feature-block {
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 75px 0px 0px;
  -webkit-box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
          box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}

.feature-block .feature-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f7ff;
}

.feature-block .feature-name img {
  padding: 40px;
  margin: 0px 20px 0px 0px;
  background-color: #1968fc;
}

.feature-block .feature-name h3 {
  font-size: 20px;
  color: #11223f;
  line-height: 1.5;
  font-weight: 600;
}

.feature-block p {
  padding: 40px;
  font-size: 16px;
  line-height: 1.9;
  color: #11223f;
}

.feature-line {
  display: none;
  height: 60px;
  width: 100px;
  border-right: 3px solid #1968fc;
  border-style: dotted;
}

@media (max-width: 1024px) {
  .feature-line {
    display: block;
  }
}

.feature-block:nth-child(3) {
  position: relative;
  top: 40px;
}

.feature-block:nth-child(5) {
  position: relative;
  top: 80px;
  margin: 0px;
}

@media (max-width: 1024px) {
  .feature-block {
    width: 100%;
  }
  .feature-block:nth-child(3) {
    position: static;
  }
  .feature-block:nth-child(5) {
    position: static;
  }
}

.forwho-blockes {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forwho-blockes .forwho-block {
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
          box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}

@media (max-width: 1024px) {
  .forwho-blockes .forwho-block {
    width: 48%;
  }
  .forwho-blockes .forwho-block:nth-child(2) {
    margin-right: 0px;
  }
  .forwho-blockes .forwho-block:nth-child(4) {
    margin-right: 0px;
  }
  .forwho-blockes .forwho-block:nth-child(6) {
    margin-right: 0px;
  }
}

.forwho-blockes .forwho-block:nth-child(3) {
  margin-right: 0px;
}

.forwho-blockes .forwho-block:nth-child(6) {
  margin-right: 0px;
}

.forwho-blockes .name {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  color: #1968fc;
}

.forwho-blockes .descripthion {
  font-size: 16px;
  line-height: 1.9;
  color: #11223f;
}

@media (max-width: 1024px) {
  .forwho-blockes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 80px;
  }
}

.hide-to-pc {
  display: none;
}

@media (max-width: 1024px) {
  .hide-to-mob {
    display: none;
  }
  .hide-to-pc {
    display: block;
  }
}

.whatcando-blockes {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatcando-blockes .whatcando-block {
  background-color: #fff;
  margin: 0px 40px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
  -webkit-box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
          box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}

.whatcando-blockes .whatcando-block img {
  padding: 20px;
  margin: 0px 20px 0px 0px;
  background-color: #1968fc;
}

.whatcando-blockes .whatcando-block p {
  font-size: 18px;
  line-height: 2.22;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .whatcando-blockes .whatcando-block {
    width: 100%;
  }
}

.whatcando-blockes .whatcando-block:nth-child(2) {
  margin-right: 0px;
}

.whatcando-blockes .whatcando-block:nth-child(4) {
  margin-right: 0px;
}

@media (max-width: 1024px) {
  .whatcando-blockes .whatcando-block:nth-child(1) {
    margin-right: 0px;
  }
  .whatcando-blockes .whatcando-block:nth-child(3) {
    margin-right: 0px;
  }
}

@media (max-width: 1024px) {
  .whatcando-blockes {
    margin-bottom: 30px;
  }
}

.howtowork {
  background-color: #1968fc;
  position: relative;
}

@media (max-width: 1024px) {
  .howtowork {
    position: static;
  }
}

@media (max-width: 1300px) {
  .howtowork {
    margin-bottom: 100px;
  }
}

.title-blue {
  color: #fff;
  margin-bottom: 60px;
  padding: 0px;
}

.title-blue:after {
  content: "";
  background-color: #fff;
}

.text-column {
  max-width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0px;
}

.text-column p {
  margin-bottom: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 1120px) {
  .text-column {
    padding: 0px 0px 50px 0px;
  }
}

.blue-button {
  color: #1968fc;
  font-weight: bold;
  background-color: #fff;
  padding: 15px 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blue-row {
  position: relative;
}

@media (max-width: 1120px) {
  .blue-row {
    padding: 20px;
  }
}

.blue-block-img {
  position: absolute;
  top: 20px;
  right: 0;
}

@media (max-width: 1300px) {
  .blue-block-img {
    display: none;
  }
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1300px) {
  .contacts {
    margin-bottom: 80px;
  }
}

.contacts-center {
  margin-bottom: 30px;
}

.blockwithimg {
  width: 680px;
}

@media (max-width: 1300px) {
  .blockwithimg {
    width: 100%;
  }
}

.img-map {
  overflow: hidden;
  height: 670px;
}

@media (max-width: 1300px) {
  .img-map {
    height: none;
    width: 100%;
  }
}

.map-form {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.map-form .label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.map-form .field {
  border: blue;
}

.map-form div {
  margin-bottom: 20px;
}

.textarea {
  height: 40px;
}

.map-label {
  color: #141720;
  font-size: 16px;
}

.map-input {
  border-bottom: 2px solid #1968fc;
  width: 520px;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: none;
  background: transparent;
}

.map-button {
  padding: 15px 110px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.map-title {
  margin-bottom: 40px;
}

.map-title:after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 50px;
  background-color: #1968fc;
  height: 3px;
  position: relative;
  right: 20px;
}

@media (max-width: 1120px) {
  .map-title:after {
    width: 80px;
    right: 0px;
  }
}

footer {
  background-color: #fbfbfb;
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dude {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
}

@media (max-width: 1024px) {
  .dude {
    padding-top: 30px;
  }
}

@media (max-width: 900px) {
  .dude {
    padding-top: 30px;
    width: 60px;
  }
}

.adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f7ff;
}

.adv img {
  width: 50px;
}

.adv .logo-text {
  padding: 0px 20px;
  line-height: 1.4;
  font-weight: 600;
  color: #1968fc;
}

@media (max-width: 1024px) {
  .adv {
    margin-right: 300px;
  }
}

@media (max-width: 900px) {
  .adv {
    margin-right: 100px;
  }
}

.socmedia {
  height: 20px;
  margin-right: 30px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav-hidepc {
  display: none;
}

@media (max-width: 1024px) {
  .footer-nav-hidemb {
    display: none;
  }
  .footer-nav-hidepc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 600;
  }
}

@media (max-width: 900px) {
  .footer-nav-hidepc {
    width: 80%;
    padding: 20px;
  }
  .footer-nav-hidepc a {
    margin-right: 20px;
  }
}
