button {
    background-color: rgb(243, 75, 103);
    color: white;
    padding: 3px 5px;
    border: 0px;
    margin-right: 3px;
    margin-left: 3px;
}
.submit-btn {
        background-color: rgb(243, 75, 103);
        color: white;
        padding: 3px 5px;
        border: 0px;
        margin-right: 3px;
        margin-left: 3px;  
}
.on {
    background-color: rgb(243, 75, 103);
}
.off {
    background-color: grey;
}