$primary: #cd5c5c;
$secondary:#cd5c5c;
$white: #fff;
$gray: #9b9b9b;


h1 {
    text-transform: uppercase;
    padding: 25px 0;
}

h3 {
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    padding: 15px 0;
    margin-right: 15px;
}

.search__block__input-wrapper {
    padding: 20px 0;
}

.search__block-btn-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

}

.search__block-btn {
    display: flex;
    justify-content: flex-start;
    
}



// input 

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  
}

.form__field {
  color: white;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $primary;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: indianred;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
