@import "_variables";
.forwho-blockes {
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    .forwho-block {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 30%;
        background-color: #fff;
    }
    .forwho-block:last-child {
        margin-right: 0px;
    }
    .name {
        text-transform: uppercase;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
        line-height: 2;
        color: $lite-blue;
    }
    .descripthion {
        padding: 20px;
        font-size: 16px;
        line-height: 1.9;
        color: $dark-blue;
    }
}

@media only screen and (max-width: 1025px) {
    .forwho-blockes {
        .forwho-block {
            width: 40%;
        }
    }
  }