@import "_variables";
.howtowork {
    background-color: #1968fc;
    position: relative;
}
@media (max-width: 1024px) {
    .howtowork {
        position: static;
    }
}
@media (max-width: 1300px) {
    .howtowork {
        margin-bottom: 100px;
    }
}
.title-blue {
    color: #fff;
    margin-bottom: 60px;
    padding: 0px;
}
.title-blue:after {
    content: "";
    background-color: #fff;
}

.text-column {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    p {
        margin-bottom: 40px;
        color: #fff;
        font-size: 20px;
        line-height: 2;
    }
}
@media (max-width: 1120px) {
    .text-column {
        padding: 0px 0px 50px 0px;
    }
}
.blue-button {
    color: $lite-blue;
    font-weight: bold;
    background-color: #fff;
    padding: 15px 40px;
    align-self: flex-start;
}
.blue-row {
    position: relative;
}

@media (max-width: 1120px) {
	.blue-row {
        padding: 20px;
    }
}
.blue-block-img {
   position: absolute;
    top: 20px;
    right: 0;
}
@media (max-width: 1300px) {
	.blue-block-img {
        display: none;
     }
}

