@import "_variables";
.launch-website {
    display: flex;
    padding: 0px 20px;
    padding-top: 150px;
    margin-bottom: 150px;
    position: relative;
    .promo-text {
        max-width: 600px;
    }
    
    .launch-title {
        font-size: 40px;
        color: $dark-blue;
        line-height: 1.5;
        margin-bottom: 20px;
        padding: 0px;
        font-weight: 600;
    }
    p {
        line-height: 2;
        color: $dark-blue;
        margin: 0px 0px 40px 0px;
        font-size: 20px;
    }
    button {
        padding: 15px 50px;
    }
}
@media (max-width: 1024px) {
	.launch-website {
        flex-direction: column;
        padding: 80px;
        padding-top: 150px;
		padding-bottom: 0px;
    }
}
.launch-img {
    position: absolute;
    width: 50%;
    top: 210px;
    left: 560px;
    img {
        width: 100%;
    }
}
@media (max-width: 1024px) {
	.launch-img {
        display: none;
        position: static;
        width: 100%;
        padding: 0px;
    }
}
.launch-img-mob {
    display: none;
    width: 100%;
    padding: 0px 20px;
}
@media (max-width: 1024px) {
	.launch-img-mob {
        display: block;
    }
}


.mob-block {
    display: none;
    height: 180px;
    width: 100%;
    padding: 30px 60px;
    background-color: $lite-blue;
    align-items: center;
    justify-content: center;
    p {
        width: 520px;
        text-align: center;
        font-weight: bold;
        line-height: 2;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }
}
@media (max-width: 1024px) {
	.mob-block {
        display: flex;
    }
}