@import "_variables";
.map {
    display: flex;
}
@media (max-width: 1300px) {
	.map {
        flex-direction: column;
    }
}
.contacts {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (max-width: 1300px) {
    .contacts {
        margin-bottom: 80px;
    }
}
.contacts-center {
    margin-bottom: 30px;
}
.blockwithimg {
    width: 680px;
}
@media (max-width: 1300px) {
    .blockwithimg {
        width: 100%;
    }
}
.img-map {
    overflow: hidden;
    height: 670px;
}
@media (max-width: 1300px) {
	.img-map {
        height: none;
        width: 100%;
    }
}
.map-form {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    .label {
            padding: 12px 12px 12px 0;
            display: inline-block;
    }
    .field {
        border: blue;
    }
    div {
        margin-bottom: 20px;
    }
}
.textarea {
    height: 40px;
}
.map-label {
    color: #141720;
    font-size: 16px;
}
.map-input {
    border-bottom: 2px solid $lite-blue;
    width: 520px;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: none;
    background: transparent;
}
.map-button {
    padding: 15px 110px;
    align-self: flex-end;
}
.map-title {
    margin-bottom: 40px;
}
.map-title:after {
    content: "";
    margin-top: 10px;
    display: block;
    width: 50px;
    background-color: #1968fc;
    height: 3px;
    position: relative;
    right: 20px;
}
@media (max-width: 1120px) {
	.map-title:after {
        width: 80px;
        right: 0px;
    }
}
