@import "_variables";
.whatcando-blockes {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .whatcando-block {
        background-color: #fff;
        margin: 0px 40px 40px 0px;
        display: flex;
        align-items: center;
        width: 46%;
        box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
        img {
            padding: 20px;
            margin: 0px 20px 0px 0px;
            background-color: $lite-blue;
        }
        p {
            font-size: 18px;
            line-height: 2.22;
            font-weight: 600;
        }
    }
    @media (max-width: 1024px) {
        .whatcando-block {
            width: 100%;
        }
    }
    .whatcando-block:nth-child(2) {
        margin-right: 0px;
    }
    .whatcando-block:nth-child(4) {
        margin-right: 0px;
    }
    @media (max-width: 1024px) {
        .whatcando-block:nth-child(1) {
            margin-right: 0px;
        }
        .whatcando-block:nth-child(3) {
            margin-right: 0px;
        }
    }
}
@media (max-width: 1024px) {
    .whatcando-blockes {
        margin-bottom: 30px;
    }
}
