@font-face {
  font-family: "Muli Regular";
  src: url("../assets/fonts/Muli-Regular.eot");
  src: url("../assets/fonts/Muli-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Muli-Regular.woff") format("woff"),
    url("../assets/fonts/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli Semibold";
  src: url("../assets/fonts/Muli-SemiBold.eot");
  src: url("../assets/fonts/Muli-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Muli-SemiBold.woff") format("woff"),
    url("../assets/fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli Bold";
  src: url("../assets/fonts/Muli-Bold.eot");
  src: url("../assets/fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Muli-Bold.woff") format("woff"),
    url("../assets/fonts/Muli-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
