.testimonials {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  @media (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15rem;
  }

  & .testimonialCard {
    margin-bottom: 5rem;
    @media (min-width: 1025px) {
      margin-bottom: 0;
    }
  }
}

.features {
  margin-bottom: 12rem;
  @media (min-width: 1025px) {
    margin-bottom: 20rem;
  }

  &__wrapper {
    @media (min-width: 1025px) {
      display: flex;
      justify-content: space-between;
    }

    & .featureCard {
      @media (min-width: 1025px) {
        &:nth-of-type(2) {
          transform: translateY(4rem);
        }
        &:nth-of-type(3) {
          transform: translateY(8rem);
        }
      }
    }
  }
}

.useCases {
  margin-bottom: 12rem;
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.services {
  margin-bottom: 6rem;
  @media (min-width: 1025px) {
    margin-bottom: 12rem;
  }
  &__wrapper {
    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  & .servicesCard {
    @media (min-width: 1025px) {
      margin-bottom: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
}
