// Color variables
$primary: #11223f;
$secondary: #1968fc;
$white: #ffffff;
$blue: #1967fa;
$black: #000000;
$lightBlue: #f3f7ff;
$shadow-primary: #d1e1fe;
$shadow-secondary: #6a9eff;
$footerColor: #fbfbfb;
$inputColor: #141720;

//Font variables
$font-primary: "Muli Regular", sans-serif;
$font-secondary: "Muli Semibold", sans-serif;
$font-tertiary: "Muli Bold", sans-serif;
$font-helvetica: "Helvetica", sans-serif;
