@import "../../assets/scss/main.scss";

.header {
  &__wrapper {
    background-color: $primary;
    padding: 10px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and(min-width: 1025px) {
      padding: 40px 150px 20px;
    }
  }

  &__link {
    color: $red;
    text-decoration: none;
    background-color: $white;
    padding: 5px 30px;
    border-radius: 2px;
    font-weight: 600;
  }
}
