@import "../../assets/scss/main.scss";

.header {
  background-color: $primary;
  color: $white;

  &__wrapper {
    padding: 10px 20px 20px;
    @media screen and(min-width:1025px) {
      padding: 40px 150px;
    }
  }

  &__text {
    margin-right: 15px;
  }

  &__searchPannel,
  &__searchBy {
    @include flexSpaceBetween;
    align-items: center;
  }
}
