//Color vars
$white: #ffffff;
$black: #000000;
$red: #fa5555;
$lightGrey: #c0c0c0;
$grey: #f4f8f4;
$primary: #423333;
$secondary: #807d7d;
$tertiary: #2e2323;

//Border vars
$borderRadius: 2px;

//Padding vars
$paddingPrimary: 0 20px;
