*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  font-family: $font-primary;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-image: url(../assets/background-decor.svg);
  background-size: cover;
  @media (max-width: 680px) {
    font-size: 1.6rem;
    background-image: url(../assets/background-decor-mobile.png);
  }
}

.main-wrap {
  max-width: 1120px;
  margin: 0 auto;
  @media (max-width: 680px) {
    max-width: 600px;
  }
}

a{
  text-decoration: none;
  color: $black;
  cursor: pointer;
  font-family: $font-secondary;
}

p{
  color: $main-text;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  @media (min-width: 1024px) {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  @media (min-width: 1024px) {
    line-height: 3rem;
  }
}

h1{
  font-family: $font-secondary;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: $main-text;
}

h2{
  font-family: $font-secondary;
  font-weight: 400;
  color: $main-text;
  text-transform: uppercase;
  margin-bottom: 4rem;
  @media (max-width: 680px) {
    font-size: 4rem;
    margin-bottom: 6rem;
  }
}

h3{
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 1.5rem;
}

h4{
  font-family: $font-secondary; 
  font-size: 1.2rem;
  font-weight: 600;
}

button{
  padding: 1.7rem 3.5rem;
  border: solid 1px rgba($color: #000000, $alpha: 0);
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 15px $primary;
  text-transform: uppercase;
  color: $white;
  background-color: $primary;
  font-family: $secondary;
}

button:hover{
  color: $black;
  background-color: $white;
  box-shadow: none;
  outline: none;
  border: solid 1px $primary;
  transition: all 0.3s ease-in-out;
}
