.contact{
  display: flex;
  flex-direction: row;
  height: 660px;
  &__form {
    width: 50%;
    padding: 120px 100px 0px 140px;
    &-form{
      padding: 20px;
      display: flex;
      flex-direction: column;
      font-family: $font-secondary;
      input{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom: solid 3px $primary;
        outline: none;
        line-height: 3rem;
        margin-bottom: 30px;
        font-weight: 600;
      }
      textarea{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom: solid 3px $primary;
        outline: none;
        line-height: 3rem;
        margin-bottom: 50px;
        font-weight: 600;
        resize: none;
      }
       button{
        width: 70%;
        align-self: flex-end;
      }
    }
    @media (max-width: 680px) {
      width: 100%;
      margin-bottom: 4rem;
      padding: 60px 80px 0px 70px;
    }
  }
  &__map {
    width: 50%;
    @media (max-width: 680px) {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 680px) {
    flex-direction: column;
    height: 1150px;
  }
}