$primary: #1968fc;
$secondary: #1967fa;
$black: #000;
$white: #fff;
$light-blue: #f3f7ff;
$auxiliary: #1968fccb;
$main-text: #11223f;


$font-primary: "Muli-Regular", sans-serif;
$font-secondary: "Mulish", sans-serif;
$font-tertiary: "Helvetica", sans-serif;