@import "variables";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px;
}

body {
  // font-family: $font-primary;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  box-sizing: border-box;
  // background-image: url(../assets/background-decor.svg);
  background-size: cover;
  @media (max-width: 680px) {
    font-size: 1.6rem;
    // background-image: url(../assets/background-decor-mobile.png);
  }
}

.main-wrapp {
  max-width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  // color: $black;
  cursor: pointer;
  // font-family: $font-secondary;
}

p{
  // color: $main-text;
  font-family: 'Bebas Neue';
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  @media (min-width: 1024px) {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  @media (min-width: 1024px) {
    line-height: 3rem;
  }
}

h1{
  font-family: 'Bebas Neue';
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  // color: $main-text;
}

h2{
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
  position: relative;
  @media (max-width: 680px) {
    font-weight: 600;
  }
}

h3{
  font-family: 'Bebas Neue';
  font-weight: 500;
  font-size: 2rem;
}

h4{
  font-family: 'Bebas Neue';
  font-size: 1.2rem;
  font-weight: 600;
}

button{
  padding: 5px 30px;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  outline: none;
  border: none;
  color: $white;
  background-color: rgb(105, 105, 105);
}

button:hover {
  color: $black;
  background-color: $white;
  transition: all 0.3s ease-in-out;
}