$red: #E50914;
$black: #000;
$white: #fff;
$button-active: #E91B37;
// $primary: #1968fc;
// $secondary: #1967fa;
// $primary-shadow: rgba(25, 104, 252, 0.1);
// $secondary-shadow: rgba(25, 104, 252, 0.3);
// $cards-shadow: rgba(49, 69, 244, 0.1);
// $light-blue: #f3f7ff;
// $auxiliary: #1968fccb;
// $main-text: #11223f;


$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-tertiary: "Roboto", sans-serif;