.particular__film-wrapper {
    color:white;
    font-size: 20px;
}

.button__default-redirect {
    margin: 0 auto;
    padding: 17px 50px;
    background-color: indianred;
    color: white;
}

.particular__film-btn-wrapper {
    display: flex;
    justify-content: center;
}

.particular__film-info {
    height: 50vh;
}