*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
    font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

$navy_blue: #16133e;
$blue: #007ffc;
$lite_grey: #87a1b6;
$grey: #5a7184;

body {
    font-family: 'Roboto', sans-serif;
    color: $navy_blue;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1160px;
    margin: 0px auto;
}

.header_row {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo_img {
        width: 26px;
        margin-right: 15px;
    }
    .logo_text {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 26px;
        color: $navy_blue;
    }
}
nav {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    a {
        color: $navy_blue;
        font-weight: 500;
        margin-right: 60px;
    }
    a:last-child {
        margin-right: 0px;
    }
}
.header_enter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: $navy_blue;
    font-weight: 500;
    font-size: 16px;
    .singin {
        padding: 15px 35px;
        border: 2px solid $navy_blue;
        border-radius: 10px;
        margin-right: 16px;
    }
    .login {
        background-color: $navy_blue;
        padding: 15px 35px;
        color: white;
        border-radius: 10px;
        a {
            color: white;
        }
    }
}
main {
    flex: 1 1 auto;
}
.brand {
    display: flex;
    flex-direction: column;
}
.brand:before {
        content: '';
        height: 2px;
        width: 1160px;
        background-color: #efeef3;
}
.brand_row {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 450px;
}
.brand_text {
    display: flex;
    max-width: 455px;
    flex-direction: column;
    justify-content: space-around;
}
.brand_title {
    h1 {
        color: $navy_blue;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 68px;
        font-weight: 600;
        font-size: 56px;
        letter-spacing: 0;
    }
}
.brand_subtitle {
    p {
        font-family: 'Roboto', sans-serif;
        color: $navy_blue;
        line-height: 36px;
        font-size: 19px;
    }
}
.brand_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    .button_view {
        padding: 15px 35px;
        background-color: $blue;
        color: white;
        border-radius: 10px;
        margin-right: 16px;
        font-size: 16px;
    }
    .button_learn {
        padding: 15px 35px;
        border: 2px solid $blue;
        color: $blue;
        border-radius: 10px;
        margin-right: 16px;
        font-size: 16px;
    }
}
.brand_pic {
        max-height: 420px;
}
.service1_column {
    display: flex;
    flex-direction: column;
}
.service1_text {
    div {
        margin-bottom: 15px;
    }
    div:last-child {
        margin-bottom: 0;
    }
    .service1_mark {
        text-transform: uppercase;
        color: $lite_grey;
    }
    .service1_title {
        font-size: 40px;
        color: $navy_blue;
        font-family: 'Nunito Sans', sans-serif;
    }
    .service1_subtitle {
        color: $grey;
    }
}
.service1_boxes {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-design {
    width: 362px;
    height: 348px;
    border: 1px solid $lite_grey;
    border-radius: 10px;
}
.box-ecommerce {
    width: 362px;
    height: 348px;
    border: 1px solid $lite_grey;
    border-radius: 10px;
}
.box-application {
    width: 362px;
    height: 348px;
    border: 1px solid $lite_grey;
    border-radius: 10px;
}
.box_column {
    min-height: 100%;
    padding: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box_title {
    font-size: 24px;
}
.box_text {
    line-height: 28px;
}
.box_link {
    a {
        color: $navy_blue;
    }
}
.service1_pics {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pics_text {
    position: relative;
    max-width: 500px;
    bottom: 100px;
    left: 50px;
    font-size: 36px;
    color: white;
}
.service3_blocks {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block_free {
    width: 362px;
    height: 348px;
    border-top: 4px solid #0593fa;
    padding-top: 50px;
}
.block20 {
    width: 362px;
    height: 348px;
    border-top: 4px solid #56cbae;
    padding-top: 50px;
}
.block50 {
    width: 362px;
    height: 348px;
    border-top: 4px solid #fa6770;
    padding-top: 50px;
}
.block_plan {
    font-size: 24px;
}
.block_title {
    font-size: 40px;
    font-weight: 700;
}
.block_subtitle {
    text-align: center;
    color: $grey;
}
.block_text {
    color: $grey;
    text-align: center;
}
.block_link {
    a {
        padding: 17px 50px;
        color: $navy_blue;
        border: 2px solid $navy_blue;
        border-radius: 50px;
    }
}
.block_column {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.free {
    color: $blue;
}
.dol20 {
    color: #56cbae;
}
.dol50 {
    color: #fa6770;
}

.tryit {
    max-height: 500px;
}
.tryit_text {
    position: relative;
    max-height: 200px;
    bottom: 300px;
    color: white;
    h1 {
        font-size: 40px;
    }
}

.tryit_column {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tryit_link {
    padding: 17px 30px;
    color: $navy_blue;
    border: 2px solid white;
    border-radius: 50px;
}
.tryit_links {
    min-width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tryit_link {
        margin-right: 20px;
        a {
            color: white;
        }
    }
    .first {
        color: $navy_blue;
        background-color: white;
        a {
            color: $navy_blue;
        }
    }
}


footer {
    background-color: #16143d;
    height: 450px;
}
.footer_row {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer_rightcolumn {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer_logo_text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: white;
}
.rightcolumn_text {
    color: white;
    line-height: 28px;
}
.rightcolumn_icons {
    div {
        padding: 5px;
        background-color: #fff;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
        margin: 0 auto;
}
}
.footer_leftcolumn {
    display: flex;
    height: 250px;
    flex-direction: row;

    color: white;
}
.first_title {
    text-transform: uppercase;
    font-size: 17px;
    padding-top: 50px;
}
.footer_leftcolumn {
    ul {
        font-size: 15px;
        letter-spacing: 1.76px;
    }
    li {
        padding-bottom: 10px;
        padding-right: 10px;
    }
}
.leftcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftcolumn_third {
    a {
        color: white;
        font-size: 25px;
        letter-spacing: 2.94px;
    }
}
.third_icons_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        padding-top: 100px;
        color: white;
    }
}