.findmovie {
    color : white;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.search-input {
    background-color: black;
    outline: none;
    height: 35px;
    width: 100%;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #FE390C;
    margin-bottom: 20px;
}
.search_btn{
    background-color:#FE390C;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;

}

.search {
    color:White;
    font-weight: bold;
    margin-right: 15px;
}
.title_btn {
    background-color:#C8C7C7;
    color:black;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 40px;
    border-radius: 10px;
    
}

.genre_btn {
    background-color:#C8C7C7;
    color:black;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
}


.genre_btn_active{
    background-color:red;
    color:black;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
}

.title_btn_active{
    background-color:red;
    color:black;
    border: none;
    outline: none;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 40px;
    border-radius: 10px;
}

