.empty__result {
    background-color: gray;
    padding: 30px 0;
    margin-top: 20px;
}

.sort__result-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
    padding: 20px 5px;
    margin-top: 20px;
}

.sort__result > button:nth-last-child(2) {
    margin-right: 20px;
}

.sort__result-btn {
    margin-right: 20px;
}

.sort__result-active {
    color: indianred;
}

